<nav class="navbar">
    <ul class="navbar-ul">
        <li class="navbar-li"><a class="navbar-a" href="{% url 'astronomy_calendar' %}">天文事件预测</a></li>
        <li class="navbar-li"><a class="navbar-a" href="{% url 'solar_system' %}">太阳系行星</a></li>
        <li class="navbar-li"><a class="navbar-a" href="{% url 'forum_index' %}">论坛</a></li>
        <li class="navbar-li"><a class="navbar-a" href="{% url 'read_announcements' %}">公告</a></li>
        <li class="navbar-li"><a class="navbar-a" href="{% url 'my_profile' %}">我的</a></li>
    </ul>
</nav>